@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>UpdateCategory-category guncelleme</h1>

<form method="post">

    @Html.Label("Kategory ID")
    @Html.TextBoxFor(x=>x.CategoryId ,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryId)
    <br />
    @Html.Label("Kategory Adi")
    @Html.TextBoxFor(x=>x.CategoryName ,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />

   
    <button class="btn btn-info">Kategory Güncelle</button>


</form>